.nav-link:hover {
  color: red;
}

.red-background {
  background-color: rgb(221, 37, 4);
}

.white-background {
  fill: white;
  enable-background:new 0 0 395.6 60;
  width: 80%;
}

.sn-links img {
  width: 24px;
}

.nobck {
  color: white;
}

.link-light {
  text-decoration: none;
}

.w-20 {
  width: 20px;
}

.yellow-btn {
  border-radius: 20px;
}

.red-newsweeks {
  fill: rgb(221, 37, 4);
  width: 236px; 
  height: auto;
}

.footer-svg-size {
  width: 236px;
  height: 35px;
}
